h1{

    color:black;
}






#plus {
    transform:translate(15px, -20px)

}


#search {
    width:500px;
    height:45px;
    background-color:gray;
    border-color: black;
    border-style:solid;


}

#user {
    color:white;

}

#main {

    background-color:yellow;
}


#arrow{

color:black;

}

#arrow2{
color:black;
}

#bar{
height:50px;
background-color: gray

}

.arrow{

    cursor:pointer;
}

.bar {

    border-color: black;
    border-style:solid;
    border-width:medium;

}

