
.rbt-menu img {
    width: 40px;
}


#ol{

    border-style:groove;
    border-width: 10px;
    border-color:black;
    border-radius:20px;
    background-color:gray
}




.jumbotron{
    width: 40%;
    font-weight: bold;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
}
#button2{
    margin-top: 80px;
}
table{
    margin-top: 50px;
}

.w-90 {
    margin: auto;
    width: 60%;
    height: 450px;

}

#back{


    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-image:url("https://images.alphacoders.com/519/thumb-1920-519509.jpg");
    overflow-x:hidden;

}
#jumbo2{
    margin-bottom: 80px;
    font-size: 20px;
}

h1{
    text-align: center;
    font-size: 100px;
    margin-bottom: 50px;
    color: black !important;
    text-shadow:
        -4px -4px 0 rgb(190, 59, 59),
        4px -4px 0 rgb(190, 59, 59),
        -4px 4px 0 rgb(190, 59, 59),
        4px 4px 0 rgb(190, 59, 59);
}

#sub{

    font-size: 35px;
    // margin-bottom: 50px;
    color: black !important;
    font-weight: bolder;
    text-shadow: 1px 1px 1px red, 5em 0 1em black
    // text-shadow:
    //     -10px -10px 0 rgb(190, 59, 59),
    //     4px -4px 0 rgb(190, 59, 59),
    //     -4px 4px 0 rgb(190, 59, 59),
    //     4px 4px 0 rgb(190, 59, 59);


}

.search{
    border:solid;



}