.jumbotron{
    width: 40%;
    font-weight: bold;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
}
#button2{
    margin-top: 80px;
}
table{
    margin-top: 50px;
}

.w-90 {
    margin: auto;
    width: 60%;
    height: 450px;

}