.jumbotron{
    width: 40%;
    font-weight: bold;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
}
#button2{
    margin-top: 80px;
}
table{
    margin-top: 50px;
}

.w-90 {
    margin: auto;
    width: 60%;
    height: 450px;

}

#back{


    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-image:url("https://images.alphacoders.com/519/thumb-1920-519509.jpg");
    overflow-x:hidden;

}