#navb {
    font-size:30px;
    text-shadow:5px 5px 10px green;
    color:white;
    position:fixed;



}

#user{

    color:white;
}

#totalCal {
    width:180px;
    height:60px;

    border-style:outset;
    border-color:white;
    transform:translate(105px, -5px);
    text-decoration: underline;
    font-weight: 700;

}

#totalCal2 {
    width:200px;
    height:60px;

    border-style:outset;
    border-color:white;

    text-decoration: underline;
    font-weight: 700;

}

#x{

    color:white;

}
#x:hover{
    background-color:red;
    cursor:pointer;
}
